html, body {
  margin: 0;
  padding: 0;
}

#admin {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.admin-container {
  display: flex;
  flex-direction: row;
  flex: 2;
  background: silver;
}

.admin-toolbar {
  background: yellow;
  width: 68px;
}

.admin-content {
  flex: 1;
  background: blue;
}
